body {
  margin: 0; 
  padding: 0;
  background: #111;
  height: 100%;
}
.diy-slideshow{
  position: relative;
  display: block;
  overflow: hidden;
}
figure{
  position: absolute;
  opacity: 0;
  transition: 1s opacity;
}
figcaption{
  position: absolute;
  font-family: sans-serif;
  font-size: .8em;
  top:45%;
  left:45%;

  color:white;
  background:transparent;
  
}
figcaption a{
  color: #fff;
}
figure.show{
  opacity: 1;
  position: static;
  transition: 1s opacity;
}
.next, .prev{
  color: #fff;
  position: absolute;
  background: rgba(0,0,0, .6);
  top: 50%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .3;
  user-select: none;
}
.next:hover, .prev:hover{
  cursor: pointer;
  opacity: 1;
}
.next{
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.prev{
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


a{color:#fff;}

 form{
text-align: center;
padding-top: 100px;
font-size:30px;
}
select{
  font-size:20px;
  
}
#Submit{
  font-size:20px;
  
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display:absolute; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
 
  background-color: rgba(transparent); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  /* Add a pointer on hover */
}
h1{
  color:white;
  text-align: center;
  padding-bottom:40px;
  text-shadow: 2px 2px 5px black;
  
}

#helo{
  color:lightyellow;
  font-family: "Arial Black", Gadget, sans-serif;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}
#wat{
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 2px white, 0 0 25px lightblue, 0 0 5px white;
}
#yell{
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 2px white, 0 0 25px lightblue, 0 0 5px white;
}
